@import "../valo/valo.scss";

@mixin sojka {
  @include valo;

  // Insert your own theme rules here
  //.navbar {
  //  background-color: #000000;
  //  .v-button {
  //    color: white
  //  }
  //}

  .navbar {
    width: 250px;
    position: relative;
    background-color: #000000;
    color: #ffffff;

    .valo-menu-title {
      font-size: 1.25rem;
    }
    .valo-menu-item {
      text-align: left;
    }

    .image {
      height: 100%;
      margin-bottom: 0.5rem;
      background-color: white;
    }
    .logo-panel {
      border: 0;
      border-radius: 0;
    }
    .logout {
      position: absolute;
      bottom: 10px;
    }
  }

  .login-form {
    border: 1px solid lightgray;
    background-color: #f5f5f5;
    padding: 1rem;
  }
}