<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.6/css/bootstrap.min.css"/>
</head>
<body class="container">
<div class="row">
    <div class="col-md-3" th:fragment="${panes['left']}">
        Left <span th:text="${panes.left}">Span</span>
    </div>
    <div class="col-md-6" th:fragment="fragments/base::left">
        Main --
    </div>
    <div class="col-md-3">
        Right
    </div>
</div>
<div th:include="fragments/base::footer">
    <footer>Sojka</footer>
</div>
</body>
</html>